@{
    ViewBag.Title = "Index";
}

<div class="justify-content-center caption text-center">
    <h1 class="pFontSize">Welcome to Johns Page</h1>
    <h3 class="customFont">Personal website of mine</h3>
    <a class="btn btn-outline-light btn-lg" href="~/About/AboutMe">Learn more</a>
</div>



