
@{
    ViewBag.Title = "AboutMe";
}

<div class="justify-content-center caption2 text-center container-fluid">
    <div class="container-fluid">
        <div class="col-12 text-center">
            <h3 class="d-none d-md-inline-block"><i>Hey there, I'm John Linder</i></h3>
            <h3 class="d-block d-md-none pFontSize"><i>Hey there, I'm John Linder</i></h3>
        </div>
        <div class="container">
            <img src="~/Images/JohnPic.jpg" class="img-fluid small-img" alt="Photo" />
        </div>
        <div class="padding2R">
            <h3 class="d-none d-md-inline-block">Scroll to learn more!</h3>
            <h3 class="d-block d-md-none pFontSize">Scroll to learn more!</h3>
        </div>
    </div>
</div>


<div class="text-center">
    <div class="row dark">
        <div class="fixed-background">
            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="d-none d-md-inline-block">History</h3>
                    <h3 class="d-block d-md-none customFontshrink">History</h3>
                    <div class="feature custom-color">
                        <i class="fas fa-history fa-3x d-none d-sm-inline-block"></i>
                    </div>
                    <p class="lead d-none d-sm-inline-block light-text pWidth">
                        I am happily married, love video games, DnD, Snowboarding
                        , skateboarding, overall a pretty open person to do anything.
                        My passion is coding, I always want to learn more and expand
                        my horizons.
                    </p>
                    <p class="lead d-block d-sm-none light-text pFontSize">
                        I am happily married, love video games, DnD, Snowboarding
                        , skateboarding, overall a pretty open person to do anything.
                        My passion is coding, I always want to learn more and expand
                        my horizons.
                    </p>
                    <div class="heading-underline2"></div>
                </div>
            </div>


            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="d-none d-md-inline-block">Education</h3>
                    <h3 class="d-block d-md-none customFontshrink">Education</h3>
                    <div class="feature custom-color">
                        <i class="fas fa-graduation-cap fa-3x d-none d-sm-inline-block"></i>
                    </div>
                    <p class="lead d-none d-sm-inline-block light-text pWidth">
                        I am a senior at Indiana University Southeast. I am majoring in
                        Computer Science with a Minor in Mathematics. I also attend an
                        Academic club known as the CSG club (Computer Science Group).
                        CSG includes study groups, game nights, CCDC competitions, a great
                        learning environment, and a great way to network!
                    </p>
                    <p class="lead d-block d-sm-none light-text pFontSize">
                        I am a senior at Indiana University Southeast. I am majoring in
                        Computer Science with a Minor in Mathematics. I also attend an
                        Academic club known as the CSG club (Computer Science Group).
                        CSG includes study groups, game nights, CCDC competitions, a great
                        learning environment, and a great way to network!
                    </p>
                    <div class="heading-underline2"></div>
                </div>
            </div>

            <div class="row text-center">
                <div class="col-md-12">
                    <h3 class="d-none d-md-inline-block">Work</h3>
                    <h3 class="d-block d-md-none customFontshrink">Work</h3>
                    <div class="feature custom-color">
                        <i class="fas fa-briefcase fa-3x d-none d-sm-inline-block"></i>
                    </div>
                    <p class="lead d-none d-sm-inline-block light-text text-break pWidth">
                        Currently, I am working for Waystar as a Software Developer Intern. On top of that,
                        I also work for Nordstrom Rack as an Assistant Department Manager. I am currently trying
                        to work my way into the developing world as best I can, learning as much as I can.
                    </p>
                    <p class="lead d-block d-sm-none light-text pFontSize">
                        Currently, I am working for Waystar as a Software Developer Intern. On top of that,
                        I also work for Nordstrom Rack as an Assistant Department Manager. I am currently trying
                        to work my way into the developing world as best I can, learning as much as I can.
                    </p>
                    <div class="heading-underline3"></div>
                </div>
            </div>


            <div class="fixed-wrap row container-fluid">
                <img src="~/Images/WEdding.jpg" class="img-fluid fixed" />
            </div>

        </div>
    </div>
</div>

