
@{
    ViewBag.Title = "ContactMe";
}

<div class="container-custom caption2">
    <div class="feature jumbotron jumbotron-fluid text-center">
        <h1>Contact Page</h1>
        <div class="col-md-12">
            <h6>If you have any question, please email me!</h6>
            <hr />
            <a href="#" id="mailbutton" class="btn btn-custom">Email Me</a>
        </div>
        <h6>Phone Number: 502-572-####</h6>
    </div>
</div>

