
<footer>
    <div class="dark row justify-content-center fixed-bottom feature">

        <div class="col-md-5 text-center">
            <a class="padding2X" href="https://www.facebook.com/johnny.linder.5" target="_blank"><i class="fab fa-facebook-square fa-2x"></i></a>
            <a class="padding2X" href="https://twitter.com/Johnesthetic" target="_blank"><i class="fab fa-twitter-square fa-2x"></i></a>
            <a class="padding2X" href="https://github.com/Jelinder34" target="_blank"><i class="fab fa-github-square fa-2x"></i></a>
            <a class="padding2X" href="https://www.linkedin.com/in/john-linder-1a3901b2/" target="_blank"><i class="fab fa-linkedin fa-2x"></i></i></a>
        </div>
    </div>
</footer>