
<footer>
    <div class="dark row justify-content-center fixed-bottom feature">

        <div class="col-md-5 text-center">
            <a class="padding2X" href="https://www.facebook.com/johnny.linder.5" target="_blank"><img class="custom-color img-size" src="~/Images/facebook-icon-preview-1.png"></a>
            <a class="padding2X" href="https://twitter.com/Johnesthetic" target="_blank"><img class="custom-color img-size1" src="~/Images/Twitter_Sq-512.png"></a>
            <a class="padding2X" href="https://github.com/Jelinder34" target="_blank"><img class="custom-color img-size1" src="~/Images/Github.png"></a>
            <a class="padding2X" href="https://www.linkedin.com/in/john-linder-1a3901b2/" target="_blank"><img class="custom-color img-size1" src="~/Images/174857.png"></a></a>
        </div>
    </div>
</footer>