
@{
    ViewBag.Title = "MyResume";
}
<div class="caption2 text-center">
    <a id="ResumeLink" class="btn btn-outline-light btn-lg" href="~/Document/John Resume.docx" download="">Download Resume</a>
</div>
